<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.domguilherme\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.domguilherme.com/{R:1}" />
                </rule>
		        <rule name="CanonicalHostNameRule2">
                    <match url="(.*).aspx" />
                    <action type="Redirect" url="http://www.domguilherme.com" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
